.project {
    min-height: calc(100vh - 85px);
}

.project-header {
    display: flex;
    background: linear-gradient(90deg, rgba(31,91,79,1) 5%, rgba(60,205,178,1) 38%, rgba(177,225,216,1) 93%);
    height: 20vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.project-entry {
    padding: 5px;
    width: 90%;
    margin-left: 5%;
}

.project-entry p {
    margin-top: -5px;
    font-size: 14px;
    margin-left: 5%;
}

.project-entry-checkmore {
    display: flex;
    flex-direction: inline;
    justify-content: space-between;
}

.project-entry-checkmore h5 {
    color: rgb(113, 113, 113);
    margin-top: -10px;
    margin-left: 5%;
}

.project-entry-checkmore h2 {
    margin-right: 30px;
    margin-top: -40px;
    font-size: 30px;
    margin-left: 5%;
}