.heronav-container {
    background: linear-gradient(90deg, rgba(31,91,79,1) 5%, rgba(60,205,178,1) 38%, rgba(177,225,216,1) 93%);
    max-height: 100%;
    width: 100%;
    padding-bottom: 30px;
}

.heronav-nav {
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
    gap: 45px;
    color: white;
    font-size: 30px;
    height: fit-content;
}

.heronav-nav a {
    display: inline-block; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.heronav-nav a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.705);
}

.heronav-hero {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.burst-text span {
    display: inline-block;
    animation: burst 0.1s ease-out forwards;
    opacity: 0;
}

.heronav-hero-h1 {
    margin-top: 10%;
    font-size: 70px;
    color: white;
}

.heronav-hero-h3 {
    /* margin-top: -5px; */
    margin: 5% 0%;
    font-size: 50px;
    color: white;
}

.heronav-hero-p {
    font-size: 25px;
    color: white;
    /* margin-bottom: 5% 0%; */
}

.heronav-hero-p2 {
    color: white;
    margin-top: 5%;
}

.heronav-more {
    position: relative;
    display: inline-block;
}

.heronav-more-dropdown {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translateX(-50%); 
    width: fit-content;
    height: fit-content;
    z-index: 1;
    box-shadow: 1px 1px 3px 0px black;
    text-align: center;
    transition: all 0.3s ease;
}

.heronav-more:hover .heronav-more-dropdown {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    width: fit-content;
    position: absolute;
    background-color: white;
    justify-content: center;
    gap: 0px;
    font-size: 18px;
    top: 10vh;
    right: 0; 
    padding: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.heronav-more a {
    display: inline-block;
    padding: 10px 20px;
}

.heronav-more:hover > a,
.heronav-more:focus-within > a {
    color: black;
    background-color: rgba(255, 255, 255, 0.705);
}

.heronav-more-dropdown li {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    color: black;
}

.heronav-more-dropdown li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

.heronav-more-dropdown li:hover {
    color: grey;
}

@keyframes burst {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      transform: scale(1.3);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1; /* Ensure the final opacity is 1 */
    }
  }
  
  .burst-text span {
    display: inline-block;
    animation: burst 0.8s ease-out forwards; /* Persist final state */
    opacity: 0; /* Initial state */
  }

