.heronav-container {
    background: linear-gradient(90deg, rgba(31,91,79,1) 5%, rgba(60,205,178,1) 38%, rgba(177,225,216,1) 93%);
    max-height: 100vh;
    width: 100%;
}

.heronav-nav {
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 0; 
    margin: 0;
    height: 10vh;
}

.heronav-nav a, .heronav-nav Link {
    display: inline-block; 
    color: white;
    text-decoration: none;
    position: relative;
    padding: 5px;
    margin: 0;
}

.heronav-nav a::after, .heronav-nav Link::after {
    content: '';
    color: #fff;
    background:rgba(247, 221, 221, 0.705);
    bottom: 0;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    transition: 0.25s;
}

.heronav-nav a:hover::after, .hernav-nav Link:hover::after {
    width: 100%;
}

.heronav-hero {
    display: flex;
    flex-direction: inline;
    width: 100%;
    justify-content: space-between; 
    position: relative;
}

.heronav-hero-left {
    display: flex;
    width: auto;
    max-width: 800px;
    max-height: 90vh;
    justify-content: center;
    flex: end;
}

.heronav-hero-left img {
    align-self: end;
    bottom: 0;
    max-height: 90%;
    padding-left: 200px;
    opacity: 0.9;
}


.burst-text span {
    display: inline-block;
    animation: burst 0.1s ease-out forwards;
    opacity: 0;
}

.heronav-hero-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    padding-left: 85px;
    padding-right: 40px;
}

.heronav-hero-right h1 {
    font-size: 60px;
    color: white;
    margin-top: -25px;
}

.heronav-hero-right h4 {
    color: white;
}

.heronav-hero-right h2 {
    font-size: 30px;
    color: white;
    margin-top: -20px;
}

.heronav-hero-right h6 {
    font-size: 15px;
    color: white;
}

.heronav-more {
    position: relative;
    display: inline-block;
}

.heronav-more-dropdown {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translateX(-50%); 
    max-width: fit-content;
    max-height: fit-content;
    z-index: 1;
    box-shadow: 1px 1px 3px 0px black;
    text-align: center;
    transition: all 0.3s ease;
    background-color: white;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    padding: 10px;
}

/* .heronav-more-dropdown {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    width: fit-content;
    position: absolute;
    background-color: white;
    justify-content: center;
    gap: 0px;
    font-size: 18px;
    top: 50%;
    left: 0;
    padding: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
} */

.heronav-more a {
    display: inline-block;
    /* padding: 10px 20px; */
}

/* .heronav-more:hover > a,
.heronav-more:focus-within > a {
    color: black;
    background-color: rgba(255, 255, 255, 0.705);
} */

.heronav-more-dropdown li {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    color: black;
}

.heronav-more-dropdown li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    cursor: pointer;
}

.heronav-more-dropdown li:hover {
    color: grey;
    cursor: pointer;
}

@keyframes burst {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      transform: scale(1.3);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1; /* Ensure the final opacity is 1 */
    }
  }
  
  .burst-text span {
    display: inline-block;
    animation: burst 0.8s ease-out forwards; /* Persist final state */
    opacity: 0; /* Initial state */
  }

