.about-me {
    /* outline: 1px solid black; */
    display: flex;
    padding: 40px;
    gap: 40px;
}

.aboutme-left {
    width: 50%;
    margin-left: 10%;
}

.aboutme-left h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}

.aboutme-right {
    width: 50%;
    /* margin-right: 10%;
    margin-left: 15%; */
    margin-left: 5%;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}

.aboutme-right img {
    border-radius: 20px;
    width: 60%;
    height: auto;
}

.aboutme-resume-btn button {
    padding: 10px; 
    background-color: #b7f7eb;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 3px -2px black;
}

.aboutme-resume-btn button:hover {
    background-color: #a6f0e3;
}