
.heronav-nav {
    display: flex;
    flex-direction: inline;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding: 0; 
    margin: 0;
    height: 10vh;
    background: #046492;/* linear-gradient(90deg, rgba(31,91,79,1) 5%, rgba(60,205,178,1) 38%, rgba(177,225,216,1) 93%); */
}

.heronav-nav a, .heronav-nav Link {
    display: inline-block; 
    color: white;
    text-decoration: none;
    position: relative;
    padding: 5px;
    margin: 0;
}

.heronav-nav a::after, .heronav-nav Link::after {
    content: '';
    color: #fff;
    background:white;
    bottom: 0;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    transition: 0.25s;
}

.heronav-nav a:hover::after, .hernav-nav Link:hover::after {
    width: 100%;
}

.heronav-more {
    position: relative;
    display: inline-block;
}

.heronav-more-dropdown {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translateX(-50%); 
    max-width: fit-content;
    max-height: fit-content;
    z-index: 1;
    box-shadow: 1px 1px 3px 0px black;
    text-align: center;
    transition: all 0.3s ease;
    background-color: white;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    padding: 10px;
}

.heronav-more a {
    display: inline-block;
}

.heronav-more-dropdown li {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    color: black;
}

.heronav-more-dropdown li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

.heronav-more-dropdown li a::after {
    content: '';
    background: lightgrey; 
    bottom: 0;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    transition: 0.25s;
}

.heronav-more-dropdown li a:hover::after {
    width: 100%;
}