.exp-item {
    min-height: calc(100vh - 85px);
}

.exp-main {
    display: flex;
    max-height: 60vh;
    max-width: 100%;
    flex-direction: inline;
    align-items: center;
    margin-top: 20px;
}

.exp-main-left {
    margin-left: 100px;
    margin-right: 350px;
}

.exp-info {
    display: flex;
    /* flex-direction: inline; */
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.exp-info-section {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.exp-info-section ul {
    list-style-type: none;
}

.exp-info-section img {
    width: 100px;
    height: 100px;
}

.exp-links-link {
    display: flex;
    flex-direction: inline;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-left: 100px;
    margin-top: 50px;
}

.exp-links-link img {
    width: 25px;
    height: 25px;
}

.exp-main-right {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr)); 
    grid-gap: 2px; 
    padding: 2px; 
    box-sizing: border-box;
    max-width: auto;
    max-height: 70vh;
    overflow: hidden;
    margin: 20px;
    margin-right: 10px;
    margin-left: -150px;
}
  
.masonry-item {
    position: relative;
    overflow: hidden;
    border-radius: 7px; 
    width: 100%;
    height: auto;
}
  
  
.masonry-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 8px; 
    display: block;
    max-width: 250px;
    max-height: 250px;
}
