.exp-item {
    min-height: calc(100vh - 85px);
}

.exp-main {
    display: flex;
    max-height: 60vh;
    max-width: 100%;
    flex-direction: inline;
    align-items: center;
    margin: 100px 0px;
    gap: 5%;
}

.exp-main-left {
    padding-left: 150px;
    width: 45%;
    padding-right: fit-content;
}

.exp-main-right {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr)); 
    grid-gap: 2px; 
    box-sizing: border-box;
    width: 45%;
    max-height: 70vh;
    overflow: hidden;
    padding: 20px;
    padding-right: 150px;
}

.exp-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: center;
    text-align: center; 
    margin: 40px 10%;
    max-width: 80%;
    padding: 20px 0px;
    background: #046492;
    margin-bottom: 70px;
}

.exp-info-section {
    width: 92%;
    margin-left: 4%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px 10px;
}

.exp-info-section ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: start;
    text-align: start;
    padding: 0;
    margin: 0;
    align-items: start;
    gap: 20px;
}

.exp-info-section img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.exp-info-section h2 {
    width: 150px;
    padding: auto 0px;
    margin-left: 30px;
    font-size: 20px;
}

.exp-info-section p {
    flex: 1; 
    margin: 0; 
    padding: 0;
    align-items: center;
}

.exp-links {
    display: flex;
    flex-direction: inline;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.exp-links-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 10px;
    background: #6ea8c4;
    width: 200px;
    height: 300px;
}

.exp-links-link:hover {
    background: rgba(4, 101, 146, 0.9);
}

.exp-links-link img {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
}
  
.exp-masonry-item {
    position: relative;
    overflow: hidden;
    border-radius: 7px; 
    width: 100%;
    height: auto;
}
  
  
.exp-masonry-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 8px; 
    display: block;
    max-width: 300px;
    max-height: 300px;
}
