.extracurr {
    min-height: calc(100vh - 85px);
}

.extracurr-header {
    display: flex;
    background: #046492;
    height: 20vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.extracurr-entry {
    padding: 5px;
    width: 90%;
    margin-left: 5%;
}

.extracurr-entry p {
    margin-top: -5px;
    font-size: 14px;
    margin-left: 5%;
}

.extracurr-entry-checkmore {
    display: flex;
    flex-direction: inline;
    justify-content: space-between;
}

.extracurr-entry-checkmore h5 {
    color: rgb(113, 113, 113);
    margin-top: -10px;
    margin-left: 5%;
}

.extracurr-entry-checkmore img {
    margin-right: 30px;
    margin-top: -40px;
    width: 40px;
    height: 40px;
    margin-left: 5%;
}